
<ul>
  <% @tasks.each do |task| %>
  <li> <p><strong><%=task.name %></strong>
    -- this task requires Carly to <%=task.description %> and must be completed by <%=task.completion_date %>.
  </p> </li>
  <% end %>
</ul>
